{% extends "sparql/base.html" %}

{% block title %}Stores{% endblock %}

{% block content %}
  <h1>Stores</h1>

  <table class="sparql-results">
    <thead>
      <tr>
        <th>Name</th>
        <th>Query</th>
        <th>Data</th>{% if with_elasticsearch %}
        <th>Search</th>
        <th>ElasticSearch search endpoint</th>{% endif %}
      </tr>
    </thead>
    <tbody>{% for store in stores %}
      <tr>
        <td>{{ store.name }}</td>
        <td><a href="{% url sparql-admin:query store.slug %}">Query</a></td>
        <td><a href="{% url sparql-admin:data store.slug %}">Data</a></td>{% if with_elasticsearch %}
        <td><a href="{% url sparql-admin:search store.slug %}">Search</a></td>
        <td><a href="{% url sparql-admin:elasticsearch store.slug %}">ElasticSearch search endpoint</a></td>{% endif %}
      </tr>{% empty %}
      <tr>
        <td colspan="2">You do not have access to any stores.</td>
      </tr>{% endfor %}
    </tbody>
  </table>
{% endblock %}