{% extends "sparql/results.html" %}{% load humfrey_desc %}

{% block sparql_results_detail %}
<table class="sparql-results">
  <thead>
    <tr>
{% for field in results.fields %}
      <th>{{ field }}</th>
{% endfor %}
    </tr>
  </thead>
  <tbody>
{% for result in results %}
    <tr class="row-{% cycle "odd" "even" %}">
{% for cell in result %}
      <td>{{ cell|node|default_if_none:"" }}</td>
{% endfor %}
    </tr>
{% empty %}
    <tr>
      <td colspan="{{ results.fields|length }}">No results found</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}