recursive-include humfrey/tests/data *
recursive-include humfrey/analytics/templates *
recursive-include humfrey/pingback/templates *
recursive-include humfrey/base/templates *
recursive-include humfrey/desc/templates *

