Django>=1.11.27,<2.0
django-conneg>=0.6
django_hosts
django-guardian
junitxml
lxml
mock
Pillow
python-memcached
pytz
PyYAML
rdflib
redis
simplejson
unittest2
-e hg+https://code.google.com/p/rdfextras/@dd40b6c730c2#egg=rdfextras
pyparsing
-e hg+https://bitbucket.org/alexsdutton/ckanclient#egg=ckanclient
django-celery
psycopg2
pycrypto
