Django
django-celery-beat
django-conneg
django_hosts
django-guardian
junitxml
lxml
mock
Pillow
python-dateutil
python-memcached
pytz
PyYAML
rdflib
redis
simplejson
unittest2
pyparsing
ckanapi
celery
psycopg2
pycrypto
