{% extends "update/base.html" %}

{% block title %}File: {{ local_file.name }}{% endblock %}

{% block content %}
  <h1>File: {{ local_file.name }}</h1>
  
  <p><a href="{{ local_file.get_download_url }}">Download</a></p>
  
  {% if local_file.is_text %}
    <section>
      <h2>File contents</h2>
      {% if can_change %}
        <form method="post" action="{{ local_file.get_absolute_url }}">
          <input type="hidden" name="action" value="update"/>
          <textarea name="contents" rows="50" style="width:100%">{{ local_file.get_contents }}</textarea>
          <input type="submit" value="Update"/>
        </form>
      {% else %}
        <div class="update-file-contents">
          <pre>{{ local_file.contents }}</pre>
        </div> 
      {% endif %}
    </section>
  {% endif %}
  
  {% if can_change %}
  <form method="post" action="{{ local_file.get_absolute_url }}">
    <input type="hidden" name="action" value="update"/>
    <textarea name="contents" rows="50" style="width:100%">{{ local_file.get_contents }}</textarea>
    <input type="submit" value="Update"/>
  </form>
  {% else %}
  <div class="update-file-contents">
    <pre>{{ local_file.contents</pre>
  </div> 
  {% endif %}
  </section>
  
  {% if can_delete %}
  <section>
    <h2>Delete this file</h2>

  <form method="post" action="{{ local_file.get_absolute_url }}">
    <input type="hidden" name="action" value="delete"/>
    <input type="submit" value="Delete"/>
  </form>
  </section>
  {% endif %}
{% endblock %}
  