{% extends "update/base.html" %}{% load humfrey_update %}{% load guardian_tags %}

{% block title %}Updater status{% endblock %}

{% block extra_head %}{{ block.super }}
<style type="text/css">
ul.update-definitions {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

ul.update-definitions li {
  margin:2px 1em 1em 2px;
  padding:5px;
  border:1px solid #006699;
  width:300px;
  float:left;
}

ul.update-definitions li h3 {
  margin: 0;
  font-size:1em;
}

ul.update-definitions li p {
  margin:4px 0 4px 0;
}

</style>
{% endblock %}

{% block content %}
  <h1>Update status</h1>
  
  <section>
    <h2>Update definitions</h2>

    <table class="update-definitions">
      <thead>
        <tr>
          <th></th>
          <th>Identifier</th>
          <th>Name</th>
          <th>Last queued</th>
          <th>Last started</th>
          <th>Last completed</th>
          <th>State</th>
          <th>Edit</th>
          <th>Log</th>
          <th>Execute</th>
      <tbody>
    {% for definition in update_definitions %}{% get_obj_perms request.user for definition as "definition_perms" %}
        <tr class="outcome-{{ definition.last_log.level }}">
          <td>
            <a href="{{ definition.last_log.get_absolute_url }}">
              <img src="{{ STATIC_URL }}{{ definition.last_log.get_level_icon }}" alt="{{ definition.last_log.get_level_display|capfirst }}" title="{{ definition.last_log.get_outcome_display|capfirst }}"/>
            </a>
          </td>
          <td>{{ definition.slug }}</td>
          <td>{{ definition.title }}</td>
          <td>{{ definition.last_queued|timesince }} ago</td>
          <td>{{ definition.last_started|timesince }} ago</td>
          <td>{{ definition.last_completed|timesince }} ago</td>
          <td>{{ definition.get_status_display }}</td>
          <td>{% if 'change_updatedefinition' in definition_perms %}
            <a href="{% url "update:definition-detail" definition.slug %}">Edit</a>
          {% endif %}</td>
          <td><a href="{% url "update:log-list" definition.slug %}">Log</a></td>
          <td>{% if 'execute_updatedefinition' in definition_perms %}{% if definition.status == 'idle' %}
            <form method="post" action="{% url "update:definition-detail" definition.slug %}">{% csrf_token %}
              <input type="hidden" name="action" value="execute"/>
              <input type="submit" value="Queue for execution"/>
            </form>
          {% else %}
            Already queued
          {% endif %}{% endif %}</td>
        </tr>
    {% empty %}
        <tr>
          <td colspan="7">{% if perms.update.view_updatedefinition %}
            There are not yet any update definitions
          {% else %}
            There are not yet any update definitions that you can view
          {% endif %}</td>
        </tr>
    {% endfor %}
      </tbody>{% if perms.update.add_updatedefinition %}
      <tfoot>
        <tr>
          <td colspan="5"><a href="{% url "update:definition-create" %}">Create new</a></td>
        </tr>
      </tfoot>{% endif %}
    </table>
    
    
    <div style="clear:both;"/>
  </section>

{% endblock %}