{% load humfrey_elasticsearch %}
{% with aggregation.meta.terms.field as field_name %}
<div class="aggregation{% if aggregation.filter.present %} aggregation-active{% endif %}">
  <h3>{{ aggregation_name|capfirst }}</h3>
  <ul>
    {% if not terse %}
    {% if aggregation.filter.present %}
      <li><a href="{% remove_parameter "filter" field_name %}">All</a></li>
	{% else %}
      <li class="selected">All</li>
	{% endif %}
    {% endif %}
	{% for bucket in aggregation.buckets %}

	  {% if aggregation.filter.value == bucket.value %}
        {% if terse %}
      <li><a class="aggregation-remove" href="{% remove_parameter "filter" field_name %}"><span class="collapsible-heading-status">Remove filter: </span>{{ term.label|default:term.value|default:term.term|capfirst }} ({{ term.count }})</a></li>
        {% else %}
      <li class="selected">{{ bucket.label|default:bucket.value|default:bucket.key|capfirst }} ({{ bucket.doc_count }})</li>
        {% endif %}
	  {% else %}
        {% if not aggregation.filter.present %}
      <li><a href="{% set_parameter "filter" field_name bucket.value %}">{{ bucket.label|default:bucket.value|default:bucket.key|capfirst }} ({{ bucket.doc_count }})</a></li>
        {% endif %}
	  {% endif %}
	{% endfor %}
{% comment %}{% if aggregations.type.other %}
	  <li><em>other</em> ({{ aggregations.type.other }})</li>
	{% endif %}{% endcomment %}
	{% if aggregations.type.missing %}
	  {% if aggregation.filter.value == "" %}
	    <li class="selected"><em>unknown</em> ({{ aggregations.type.missing }})</li>
      {% else %}
	    <li><a href="{% set_parameter "filter" field_name "" %}"><em>unknown</em> ({{ aggregations.type.missing }})</a></li>
	  {% endif %}
	{% endif %}
  </ul>
</div>
{% endwith %}
