{% extends "elasticsearch/base.html" %}{% load humfrey_desc %}{% load humfrey_elasticsearch %}{% load humfrey_thumbnail %}{% load hosts %}

{% block extra_head %}{{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}elasticsearch/base.css"/>
  <script type="application/javascript" src="{{ STATIC_URL }}elasticsearch/base.js"></script>
{% endblock %}
  

{% block title %}Search{% endblock %}

{% block content %}
  <h1>Search</h1>
  
  <div class="sidebar">
    <div class="sidebar-item search-box">
      <h2>Query</h2>
      <form method="get" action=".">
        {{ form.q }}
        <input type="submit" value="Search"/>
      </form>
    </div>
  
  {% if facets and hits.total %}
  <div class="sidebar-item">
    <h2>Refine by…</h2>
    {% if facets.type %}
      {% include "elasticsearch/facet.html" with facet=facets.type facet_name="type" %}
	{% endif %}
  </div>
  {% endif %}

  {% if hits %}{% block other_formats %}
  <div class="sidebar-item">
    <h2>Other formats</h2>
    <ul>{% for renderer in renderers %}
      <li><a href="{% set_parameter "" "format" renderer.format %}">{{ renderer.name }}</a></li>{% endfor %}
    </ul>
  </div>
  {% endblock %}{% endif %}
  </div>
  
  <div class="results">
  {% if hits %}
  
  <p>Your search returned <strong>{{ hits.total }}</strong> results in <strong>{{ took }}</strong>ms.</p>
  
  {% include "elasticsearch/pagination.html" %}
  
  <ol start="{{ start }}">
  {% for hit in hits.hits %}{% block hit %}
    <li style="line-height:1.1em; margin-bottom:1em; clear:right">
      <a style="font-size:120%; font-weight: bold; color:#0066AA" href="{{ hit.url }}">
      {% if hit.source.image %}
      <img style="float:right; margin-bottom:1em" src="{% thumbnail hit.source.image width=200 height=120 %}" alt=""/>
      {% endif %}

      {{ hit.source.label|default:"<em>unnamed</em>" }}</a>
      {% if hit.source.type.label %}
        <small>{{ hit.source.type.label|capfirst }}</small>
      {% endif %}
      
      <br/>
      <span style="color:#002147">{{ hit.source.uri }}</span>
      {% if hit.source.description %}
        <br/>
        {{ hit.source.description|truncatewords:50 }}
      {% endif %}
      
      </li>
  {% endblock %}{% endfor %}
  </ol>

  {% include "elasticsearch/pagination.html" %}
  {% else %}
  
  <p>Enter a query to start searching.</p>
  {% endif %}
  </div>
  
  <div style="clear:both;"></div>
  
{% endblock %}
