{% extends "browse/base.html" %}

{% block title %}Browse &#187; {{ meta.name }}{% endblock %}

{% block body %}
<article>
  <h1>Browse &#187; {{ meta.name }}</h1>

  <aside class="toolbox">
    <section class="page-metadata">
      <h2>Other formats</h2>
      <ul>{% for format in formats %}
        <li><a href="{{ format.url }}">{{ format.name }}</a></li>{% endfor %}
      </ul>
    </section>
  </aside>

  <aside>
    <p><a href="{% url browse:index %}">View all lists</a></p>
  </aside>
  
  <div style="clear:both"></div>
  {% include "browse/pagination.html" %}
  
  <table class="sparql-results">
    <thead>{% block browse_headers %}
      <tr>{% for field in meta.fields %}
        <th>{{ field }}</th>{% endfor %}{% endblock %}
      </tr>
    </thead>
    <tbody>{% for result in result.object_list %}
      <tr class="row-{% cycle "odd" "even" %}">{% block browse_item %}{% endblock %}</tr>{% endfor %}
    </tbody>
  </table>

  {% include "browse/pagination.html" %}
</article>
{% endblock %}