
  <div class="pagination">
    <span class="step-links">
		{% if result.has_previous %}
            <a href="?_page={{ 1 }}&amp;_sort={{ sortText }}" title="first">«</a>
            <a href="?_page={{ result.previous_page_number }}&amp;_sort={{ sortText }}" title="previous">previous</a>
        {% endif %}

        <span class="current">
            Page {{ result.number }} of {{ result.paginator.num_pages }}
        </span>

        {% if result.has_next %}
            <a href="?_page={{ result.next_page_number }}&amp;_sort={{ sortText }}" title="next">next</a>
            <a href="?_page={{ result.paginator.num_pages }}&amp;_sort={{ sortText }}" title="last">»</a>
        {% endif %}
    </span>
</div>