table.update-definitions, table.update-logs, table.update-log-records {
	border-collapse:collapse;
}

tr.outcome-errors {
	font-weight: bold;
	color: #a00;
	background-color:#fcc;
}

tr.outcome-warnings {
	color:#550;
	background-color:#fdb;
}

tr.outcome-inprogress {
	color:#00a;
	font-style:italic;
	background-color:#ccf;
}

table.update-log-records td {
	padding: 0.2em;
}

table.update-log-records tr.overline td {
	border-top:1px solid #000
}
