table.update-definitions, table.update-logs, table.update-log-records {
	border-collapse:collapse;
}

tr.outcome-errors {
	font-weight: bold;
	color: #a00;
	background-color:#fcc;
}

tr.outcome-warnings {
	color:#550;
	background-color:#fdb;
}

tr.outcome-inprogress {
	color:#00a;
	font-style:italic;
	background-color:#ccf;
}

table.update-log-records td {
	padding: 0.2em;
}

table.update-log-records tr.overline td {
	border-top:1px solid #000
}

table.update-pipelines {
	width: 100%;
}

table.update-pipelines th, table.update-pipelines td {
	padding: 0.4em;
}

.update-pipeline-delete {
	width: 4em;
}

td.update-pipeline-value {
	width: 50%
}